body {
    overflow-x: hidden;
    background-color: black;
}

.categoriaPrincipal {
    aspect-ratio: 1/1;
    border-radius: 25px;
    background-image: url("/Inicio/Imagenes/Categorias/Procesadores.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.marcaPrincipal {
    aspect-ratio: 1/1;
    border-radius: 25px;
    background-image: url("/Inicio/Imagenes/Marcas/Nvidia.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.sombraCategoria {
    background: linear-gradient(180deg, rgba(0,0,0,0) 30%, black 96%);
}

.textoCategoria {
    color: white;
    position: absolute;
    margin: 1rem auto;
    width: 100%;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 1.5px;
    text-align: center;
    bottom: 0;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.divTextoCategoria {
    position: absolute;
    width: 100%;
    height: 30px;
    bottom: 8px;
    overflow: hidden;
}

.tituloCategorias {
    font-weight: 600;
    font-size: 32px;
}

.Perifericos {
    background-image: url("../Imagenes/Categorias/Perifericos.jpg");
}

.Mothers {
    background-image: url("../Imagenes/Categorias/Mother.jpg");
}

.Gpu {
    background-image: url("../Imagenes/Categorias/PlacasVideo.jpg");
}

.RAMS {
    background-image: url("../Imagenes/Categorias/Rams.jpg");
}

.Almacenamiento {
    background-image: url("../Imagenes/Categorias/Almacenamiento.jpg");
}

.Fuentes {
    background-image: url("../Imagenes/Categorias/Fuentes.jpg");
}

.Monitores {
    background-image: url("../Imagenes/Categorias/Monitores.jpg");
}

.Notebooks {
    background-image: url("../Imagenes/Categorias/Notebooks.jpg");
}

.AMD {
    background-image: url("../Imagenes/Marcas/AMD.jpg");
}

.MSI {
    background-image: url("../Imagenes/Marcas/MSI.jpg");
}

.Razer {
    background-image: url("../Imagenes/Marcas/Razer.jpg");
}

.Asus {
    background-image: url("../Imagenes/Marcas/Asus.jpg");
}

.Hyper-X {
    background-image: url("../Imagenes/Marcas/Hyper-X.jpg");
}

.Logitech {
    background-image: url("../Imagenes/Marcas/Logitech.jpg");   
}

.MSI {
    background-image: url("../Imagenes/Marcas/MSI.jpg");
}

.Steelseries {
    background-image: url("../Imagenes/Marcas/Steelseries.jpg");
}

.Perifericos, .Mothers, .Gpu, .RAMS, .Almacenamiento, .Fuentes, .Monitores, .Notebooks, .AMD, .MSI, .Razer, .Asus, .Hyper-X, .Logitech, .MSI, .Steelseries {
    border-radius: 15px;
    aspect-ratio: 1/1;  
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}


.categoriaSecundaria {
    padding-left: 5px;
    padding-bottom: 10px;
}

.productoDestacadoTitulo {
    font-weight: lighter;
    letter-spacing: 7.7px;
    line-height: normal;
    color: white;
    margin: auto !important;
    font-size: 2em;
    align-items: center;
    align-content: center;
}

.destacadoTitulo {
    line-height: normal;
    font-size: 1.5rem;
    letter-spacing: 3px;
    color: red;
    margin: auto !important;
    padding-top: 10em !important;
}

#productosDestacados {

}

@media only screen and (max-width:1500px) {
    .banners {
        display: none;
    }
}


@media only screen and (max-width:1200px) {
    .tituloCategorias {
        font-size: 20px;
    }

    .textoCategoria {
        font-size: 0.7em;
    }
}

@media only screen and (max-width:1650px) {
    #productosDestacados {
        width: 200px !important;
        height: auto !important;
    }

    .destacadoTitulo {
        font-size: 0.75em;
    }

    .productoDestacadoTitulo {
        font-size: 1em;
    }
}
